.button {
    padding: 9px 24px;
    background: var(--mainButtonColor);
    border-radius: 8px;
    color: var(--mainWhiteColor);
}

.button:hover {
    background-color: #e20e66;
    cursor: pointer;
}