.card-row {
    display: flex;
    justify-content: space-between;
    padding: 19px 0px;
    align-items: center;  
    cursor: pointer;
}
.card-row:not(:last-child) {
    border-bottom: 1px solid var(--mainInputBorderColor);
}
.card-row p {
    color: var(--mainBlackColor);
}